.quick-actions {
    display: flex;
    gap: 12px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.action-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition:  all 0.3s;
}

.action-btn.success {background: #4ade80; color: rgb(84, 79, 79);}
.action-btn.danger {background: #f87171; color:  rgb(84, 79, 79);}
.action-btn.random {background: #7a56e6; color: rgb(84, 79, 79);}

.action-btn:hover {
    transform: scale(1.05);
}